{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GAMESTORM</title>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
  </head>
    
    
  <body class="p-3 mb-2 bg-dark text-white">

    <!--INICIO ENCABEZADO-->
    <div class="container-fluid">
      <header class="header p-3 mb-2 bg-dark">
        <img src="img/head.png" class="img-fluid rounded-top" alt="GAMESTOMR">
        <p>GAMESTORM</p>
      </header>
    </div>
    <!--TERMINO ENCABEZADO-->

    <!--INICIO BARRA DE VAVEGACION-->
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg mb-3 bg-secondary p-2" style="--bs-bg-opacity: .9;">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'categoria' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Categorías
                </a>
                <ul class="dropdown-menu bg-secondary">
                  <li><a class="dropdown-item" href="categoria/accion.html">Acción</a></li>
                  <li><a class="dropdown-item" href="categoria/aventura.html">Aventura</a></li>
                  <li><a class="dropdown-item" href="categoria/carreras.html">Carreras</a></li>
                  <li><a class="dropdown-item" href="categoria/deportes.html">Deportes</a></li>
                  <li><a class="dropdown-item" href="categoria/rol.html">Rol</a></li>
                  <li><a class="dropdown-item" href="categoria/shooters.html">Shooters</a></li>
                  <li><a class="dropdown-item" href="categoria/terror.html">Terror</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'categoria' %}">Todas las categorias</a></li>
                </ul>
              </li>
              
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'carro' %}">Carro de compras</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-dark" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>
    </div>
    <!--TERMINO BARRA DE VAVEGACION-->

    <!-- INICIO CAJA INICIO DE SESION -->
    <div class="container">
      <p class="d-inline-flex gap-1">
        <a class="btn btn-success" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Iniciar sesión</a>
        <a class="btn btn-warning" href="{% url 'registro' %}" role="button">Regístrate</a>
      </p>
      <div class="row">
        <div class="col-md-4">
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body bg-secondary">
              <!-- INICIO FORMULARIO DE LOGIN -->
              <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">name@example.com</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                  <div id="emailHelp" class="form-text">Recuerda que tu contraseña debe ser mayor a 3 caracteres, contener letras y números.</div>
                </div>
                <div class="form-floating mb-2">
                  <select class="form-select" id="floatingSelectGrid">
                    <option selected>Selecciona un perfil</option>
                    <option value="1">Cliente</option>
                    <option value="2">Administrador</option>
                    <!-- <option value="3">Three</option> -->
                  </select>
                  <label for="floatingSelectGrid">Ingresar como:</label>
                </div>
                <button type="submit" class="btn btn-success">Confirmar identidad</button>
              </form>
              <!-- TERMINO FORMULARIO DE LOGIN -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- TERMINO CAJA INICIO DE SESION -->

    <!-- INICIO  TITULO PAGINA - GRUPO DE BOTONES CENTRALES -->
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-4">
            <h4 class="text-center mb-3">CARRO DE COMPRAS</h4>
          </div>
      </div>
    </div>
    <!-- TERMINO TITULO PAGINA - GRUPO DE BOTONES CENTRALES-->

    <Br></Br>

    <!-- INICIO CARRITO DE COMPRAS -->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <section class="h-100" style="background-color: #eee;">
            <div class="container h-100 py-5">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-10">
          
                  <div class="d-flex justify-content-between align-items-center mb-4">
                    <h5 class="fw-normal mb-0 text-black">Estos son tus productos!</h5>
                    <div>
                      <p class="mb-0"><span class="text-muted">Ordenar por:</span> <a href="#!" class="text-body">precio <i
                            class="fas fa-angle-down mt-1"></i></a></p>
                    </div>
                  </div>
          
                  <div class="card rounded-3 mb-4">
                    <div class="card-body p-4">
                      <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-md-2 col-lg-2 col-xl-2">
                          <img
                            src="img/shooter_couterStrike.jpg"
                            class="img-fluid rounded-3" alt="Counter Strike">
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                          <p class="lead fw-normal mb-2">Counter Strike</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                          <button class="btn btn-link px-2"
                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                            <i class="fas fa-minus"></i>
                          </button>
          
                          <input id="form1" min="0" name="quantity" value="1" type="number"
                            class="form-control form-control-sm" />
          
                          <button class="btn btn-link px-2"
                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                            <i class="fas fa-plus"></i>
                          </button>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                          <h5 class="mb-0">$49.000</h5>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                          <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- <div class="card rounded-3 mb-4">
                    <div class="card-body p-4">
                      <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-md-2 col-lg-2 col-xl-2">
                          <img
                            src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img1.webp"
                            class="img-fluid rounded-3" alt="Cotton T-shirt">
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                          <p class="lead fw-normal mb-2">Basic T-shirt</p>
                          <p><span class="text-muted">Size: </span>M <span class="text-muted">Color: </span>Grey</p>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                          <button class="btn btn-link px-2"
                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                            <i class="fas fa-minus"></i>
                          </button>
          
                          <input id="form1" min="0" name="quantity" value="2" type="number"
                            class="form-control form-control-sm" />
          
                          <button class="btn btn-link px-2"
                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                            <i class="fas fa-plus"></i>
                          </button>
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                          <h5 class="mb-0">$499.00</h5>
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                          <a href="#!" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                        </div>
                      </div>
                    </div>
                  </div> -->
          
                  <div class="card mb-4">
                    <div class="card-body p-4 d-flex flex-row">
                      <div class="form-outline flex-fill">
                        <input type="text" id="form1" class="form-control form-control-lg" />
                        <label class="form-label" for="form1">Código para descuento</label>
                      </div>
                      <button type="button" class="btn btn-outline-warning btn ms-3">Aplicar</button>
                    </div>
                  </div>
          
                  <div class="card">
                    <div class="card-body">
                      <button type="button" class="btn btn-warning btn-block">Pagar</button>
                    </div>
                  </div>
          
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <!-- TERMINO CARRITO DE COMPRAS -->



    <Br></Br>

    <!--INICIO FOOTER-->
    <footer>
      <div class="container-fluid">
        <div class="container">
          <div class="row justify-content-center">
              <div class="col-md-12">
                <div class="card text-center">
                  <div class="card-header bg-secondary">
                    <!-- Footer -->
                  </div>
                  <div class="card-body">
                    <!-- <h10 class="card-title">Design by Group 10</h10> -->
                    <p class="card-text">Grupo10.</p>
                    <!-- <a href="#" class="btn btn-secondary p-2">Go somewhere</a> -->
                  </div>
                  <div class="card-footer text-body-secondary bg-secondary">
                    <!-- texto secundario footer -->
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </footer>
    <!--TERMINO FOOTER-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
    </script>

    <script src="js/miscript.js"></script>

<script>
  //FUNCION PARA VALIDAR FORMATO DE LA CONTRASEÑA (Que sea de un minimo de 4 caracteres, que contenga 1 mayuscula y 1 numero)
  function validarContrasena(inputPassword) {
    // variable de requisitos
    var regex = /^(?=.*[A-Z])(?=.*\d)[A-Za-z\d]{4,}$/;
    // si cumple los requisitos, se devuelve true
    if (regex.test(inputPassword)) {
      return true;
    }
    // si no, devuelve false
    else {
      return false;
    }
  }
  var formulario = document.getElementById("formulario");
  formulario.addEventListener("submit", function(event) {
    // se obtiene el valor de la contraseña ingresada
    var inputPassword = document.getElementById("inputPassword").value;
    // se llama a la función que valida la contraseña y guardar el resultado
    var valido = validarContrasena(inputPassword);
    // si el resultado es falso, se mostrara un mensaje o alerta de error
    if (!valido) {
      alert("La contraseña debe tener al menos 4 caracteres, una mayúscula y un número");
      event.preventDefault();
    }
  });
  </script>
  </body>
</html>