{% extends "base.html" %}
{% load static %}
{% block contenido %}

    <!-- INICIO  TITULO PAGINA - GRUPO CENTRAL -->
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-4">
            <h4 class="text-center mb-3">CARRERAS</h4>
          </div>
      </div>
    </div>
    <!-- TERMINO  TITULO PAGINA - GRUPO CENTRAL -->

    <Br></Br>

    <!-- INICIO CAJA DE TARJETAS -->
    <div class="container">
      <div class="row justify-content-center">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'img/carreras_automobilista_2.jpg' %}" class="card-img-top" alt="Apex">
          <div class="card-body">
            <h5 class="card-title">Automobilista 2</h5>
            <p class="card-text">Automobilista 2, PC.</p>
            <a href="#" class="btn btn-primary">Ver</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="{% static 'img/carreras_forza.jpg' %}" class="card-img-top" alt="Battlegrounds">
          <div class="card-body">
            <h5 class="card-title">Forza</h5>
            <p class="card-text">Forza</p>
            <a href="#" class="btn btn-primary">Ver</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="{% static 'img/carreras_needForSpeed.jpg' %}" class="card-img-top" alt="Spider-man">
          <div class="card-body">
            <h5 class="card-title">Need for Speed</h5>
            <p class="card-text">Need for Speed, PS4.</p>
            <a href="#" class="btn btn-primary">Ver</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="{% static 'img/carreras_needForSpeed_Delux.jpg' %}" class="card-img-top" alt="warframe">
          <div class="card-body">
            <h5 class="card-title">Need for Speed - Delux</h5>
            <p class="card-text">Need for Speed - Delux, PC.</p>
            <a href="#" class="btn btn-primary">Ver</a>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
          <img src="{% static 'img/carreras_theCrew_2.jpg' %}" class="card-img-top" alt="warframe">
          <div class="card-body">
            <h5 class="card-title">The Crew 2</h5>
            <p class="card-text">The Crew 2, PC.</p>
            <a href="#" class="btn btn-primary">Ver</a>
          </div>
        </div>
      </div>
    </div>
    <!-- TERMINO CAJA DE TARJETAS -->
    {% endblock %}