    {% extends "base.html" %}
    {% load static %}
    {% block contenido %}

    <!-- INICIO  TITULO PAGINA - BOTON REGISTRO -->
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-4">
            <h2 class="text-center mb-3">Home</h2>
            <h4 class="text-center mb-3">¿Tu primera vez en Gamestorm?</h4>
              <div class="row justify-content-center">
                <div class="col-md-4">
                  <a class="btn btn-warning mb-3" href="{% url 'registro' %}" role="button">Regístrate</a>
                </div>
              </div>
            <h6 class="text-center mb-3">Es gratis y muy fácil. Descubre miles de juegos para disfrutar con tus amigos.</h6>
          </div>
      </div>
    </div>
    <!-- TERMINO  TITULO PAGINA - BOTON REGISTRO -->

    <Br></Br>

    <!-- INICIO SLIDESHOW -->
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'img/accion_apex.jpg' %}" class="d-block w-100" alt="APEX">
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/accion_battlegrounds.jpg' %}" class="d-block w-100" alt="BATTLEGROUNDS">
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/carreras_needForSpeed_Delux.jpg' %}" class="d-block w-100" alt="Need For Speed Delux">
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/deportes_fc24.jpg' %}" class="d-block w-100" alt="FC 24">
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/rol_eldenRing.jpg' %}" class="d-block w-100" alt="Elden Ring">
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/shooter_couterStrike.jpg' %}" class="d-block w-100" alt="Counter Strike">
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/terror_deadDaylight.jpg' %}" class="d-block w-100" alt="Dead Daylight">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- TERMINO SLIDESHOW -->
    {% endblock %}
